*, ::before, ::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    background-color: #f0f0f0;
}

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

a {
    text-decoration: none;
}

h1 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1px;
}


header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    font-family: "Borel", cursive;
    color: #000;

    & h2 {
        font-size: 2rem;
        line-height: 101px;
        font-weight: 400;
        color: rgb(0, 0, 0);
    }

    & h3 {
        font-family: "Borel", cursive;
        /* line-height: 90px; */
        font-style: italic;
        font-weight: 100;
        color: rgb(121, 121, 121);
    }

    & h4 {
        font-size: 2rem;
        line-height: 1px;
        font-weight: 400;
        color: rgb(0, 0, 0);
        padding-top: 2rem;
    }

    & button {
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 12px;
        transition: .01s ease-in-out;

        &:hover {
        background-color: rgba(0, 0, 0, 0.068);
        border: 1px solid rgb(58, 58, 58);
        border-radius: 12px;

        }
    }

    & button:hover svg {
        transform: translateX(5px);        
        transition: .3s ease-in-out;
    }

    & svg {
        height: auto;
        width: 60px;
        stroke: rgb(37, 37, 37);
        
    }
}

#team {
    
}

.eleven {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 4rem;

    & h2 {
        font-size: 4rem;
    }
}

#w {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    & h2 {
        font-size: 3rem;
    }

    & p {
        padding: 1rem;
    }

    & .container-explain {
        width: 60%;
        padding: 2rem;
        border: 1px solid #000;
        border-radius: 12px;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.11);
    }

}

#content {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & h2 {
        font-size: 3rem;
    }

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;

        & button {
            border: none;
            cursor: pointer;
        }

        & li {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            height: 300px;
            width: 300px;
            border: 1px solid #000;
            border-radius: 12px;
            padding: 1rem;
            font-size: 1.5rem;
            letter-spacing: -1px;
            font-weight: 800;
            transition: .3s ease;

            & img {
                width: 90px;
            }

            &:hover {
                transform: scale(.85);
            }
        }
    }
}


#how {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 4rem;
    background-color: #000000ef;
    backdrop-filter: blur(10px);
    font-size: 2.3rem;
    color: #fff;
    display: none;
}

#negative {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 4rem;
    background-color: #000000ef;
    backdrop-filter: blur(10px);
    font-size: 2.3rem;
    color: #fff;
    display: none;
}

#question {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 4rem;
    background-color: #000000ef;
    backdrop-filter: blur(10px);
    font-size: 2.3rem;
    color: #fff;
    display: none;
}

#repeat {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 4rem;
    background-color: #000000ef;
    backdrop-filter: blur(10px);
    font-size: 2.3rem;
    color: #fff;
    display: none;
}

#examples {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 4rem;
    background-color: #000000ef;
    backdrop-filter: blur(10px);
    font-size: 2.3rem;
    color: #fff;
    display: none;
}


@media screen and (max-width: 1000px) {

    header {

        & h2 {
            line-height: 50px;
        }
    }
    
    h1 {
    font-size: 4.2rem;
    line-height: 75px;
    text-wrap: auto;
    text-align: center;
    }
}